body {
    height: 100vh;
    background: url(https://videohive.img.customer.envatousercontent.com/files/e860d711-99cd-4305-bc08-2781d0e72a27/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=dfd1e2583b5d0cf32ed96fbfab70cf9a) no-repeat center center/cover;

    display: flex;
    justify-content: center;
    align-items: center;


}

#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background-color: rgb(132, 0, 255);
    border-radius: 15px;
    box-shadow: 0 0 3px;

    display: flex;

    margin-bottom: 20px;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;

}

#add-task {
    flex: 1;
transition: .3s;

    font-size: 1.1rem;
    padding: 5px;

    background-color: pink;
    color: purple;

    border: blueviolet solid 3px;
    border-radius: 15px;
}

#add-task:hover {
    background-color: purple;
    color: pink;
}

/* Styling for added task on to-do list */

.task {
    width: 100%;
    background-color: pink;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    
    padding: 5px;
    color: purple;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;

}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.2rem;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: purple;
    color: pink;
}

.task .checkTask {
    color: purple;
    background-color: pink;
    margin-right: 5px;
    border: solid 5px darkviolet;
    font-size: 1.5rem;
}

.task .checkTask:hover {
    color: white;
    background-color: purple;
    margin-right: 5px;
    border: solid 5px white;
    font-size: 1.5rem;
}

.task .deleteTask {

    color: pink;
    border: solid 5px white;
    font-size: 1.3rem;

}

.task .deleteTask:hover {
    background-color: aliceblue;
    color: purple;
    border: solid 7px purple;
}